<ion-content>
  <form>
    <ion-item>
      <ion-label>Sleep Start</ion-label>
      <ion-datetime-button datetime="datetime-start"></ion-datetime-button>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">Sleep End</ion-label>
      <ion-datetime-button datetime="datetime-end"></ion-datetime-button>
    </ion-item>

    <div class="ion-padding button-container">
      <ion-button class="form-button" (click)="saveSleep()"
        >Save Sleep</ion-button
      >
      <ion-button class="form-button" (click)="closeModal()">Cancel</ion-button>
    </div>
    <app-babies-list></app-babies-list>
  </form>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        locale="da-DK"
        id="datetime-start"
        [value]="sleepStart().toISOString()"
        (ionChange)="onSleepStartChange($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        locale="da-DK"
        id="datetime-end"
        [value]="sleepEnd().toISOString()"
        (ionChange)="onSleepEndChange($event)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
