<div class="flex">
  <ion-title>Menus</ion-title>
  <ion-button fill="clear" (click)="close.emit()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</div>
<div class="flex-column ion-padding">
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/calendar"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    daily overview
  </ion-text>
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/weekly-report"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    weekly report
  </ion-text>
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/settings"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    settings
  </ion-text>
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/history"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    history
  </ion-text>
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/timeline"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    timeline
  </ion-text>
  <ion-text
    (click)="close.emit()"
    fill="outline"
    routerLink="/timer"
    class="ion-activatable"
  >
    <ion-ripple-effect></ion-ripple-effect>
    timer
  </ion-text>
</div>
