<ion-content [fullscreen]="true">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title size="large">Settings</ion-title>
  </div>
  <div class="active-baby-wrapper ion-padding">
    <ion-title class="ion-padding-top">Baby settings</ion-title>
    @for (baby of babyService.babies(); track baby.id) {
    <ion-list>
      <ion-item>
        <ion-text>{{ baby.name }}</ion-text>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="openDeleteBabyAlert(baby)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button (click)="openBabyAlert(baby)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
          <ion-button (click)="makeMailToBaby(baby)">
            <ion-icon slot="icon-only" name="share-social"></ion-icon>
          </ion-button>
          <ion-button (click)="babyService.setActiveBaby(baby)">
            @if (baby.id === babyService.activeBaby()?.id) {
            <ion-icon slot="icon-only" name="star"></ion-icon>
            } @else {
            <ion-icon slot="icon-only" name="star-outline"></ion-icon>
            }
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    }
    <div class="flex ion-padding-top ion-padding-bottom">
      <ion-button expand="block" (click)="openBabyAlert()">
        <ion-icon name="add"></ion-icon>
        <ion-text>add baby</ion-text>
      </ion-button>
      <!-- add baby by id -->
      <ion-button expand="block" (click)="openAddBabyByIdAlert()">
        <ion-icon name="add"></ion-icon>
        <ion-text>add baby by id</ion-text>
      </ion-button>
    </div>
    <ion-accordion-group>
      <ion-accordion value="general">
        <ion-item slot="header">
          <ion-title>General settings</ion-title>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-text class="ion-padding-top">Start app on history page</ion-text>
          <ion-segment
            [value]="startOnHistory()"
            (ionChange)="toggleStartOnHistory($event)"
            class="ion-padding-bottom"
          >
            <ion-segment-button [value]="true">
              <ion-text>Yes</ion-text>
            </ion-segment-button>
            <ion-segment-button [value]="false">
              <ion-text>No</ion-text>
            </ion-segment-button>
          </ion-segment>
          <ion-text class="ion-padding-top">Time style</ion-text>
          <ion-segment
            [value]="timeStyleService.timeStyle()"
            (ionChange)="toggleTimeStyle($event)"
            class="ion-padding-bottom"
          >
            <ion-segment-button value="number">
              <ion-text>Number</ion-text>
            </ion-segment-button>
            <ion-segment-button value="native">
              <ion-text>Wheel</ion-text>
            </ion-segment-button>
          </ion-segment>
          <ion-button (click)="showBubbleNotification()">
            <ion-text>Show bubble notification</ion-text>
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
